---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="alfrendo silalahi">
  <h1 class="font-mono text-lg lg:text-xl">uses</h1>
  <p class="font-lato">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio ipsa sed
    laudantium! Blanditiis ratione magni dolor, necessitatibus perspiciatis
    veritatis culpa error, eos nesciunt non accusamus, voluptate nam assumenda
    at praesentium.
  </p>
</BaseLayout>
