---
import '../assets/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="alfrendo silalahi">
  <h1 class="font-mono text-lg lg:text-xl">uses</h1>
</BaseLayout>
